body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../assets/bg-image1.jpg');
}

.forgot-password-container {
    max-width: 450px;
    padding: 20px;
    background: #898787;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    text-align: center;
}

.forgot-password-container h2 {
    color: #5a54e6;
    margin-bottom: 20px;
    font-size: 45px;
}

.forgot-password-container p {
    color: #000000;
}

.forgot-password-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password-container button {
    padding: 10px;
    background-color: #6c63ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.forgot-password-container button:hover {
    background-color: #5a56d8;
}

.forgot-password-container a {
    display: block;
    margin-top: 15px;
    color: #6c63ff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password-container a:hover {
    text-decoration: underline;
}

.message {
    margin-top: 15px;
    font-size: 14px;
    color: green;
}

@media screen and (max-width: 768px) {

    .forgot-password-container {
        max-width: 370px;
        padding: 20px;
        background: #898787;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        height: auto;
        margin-top: 50px;
    }

}