body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../assets/bg-image1.jpg');
}

.reset-password-container {
    max-width: 450px;
    padding: 20px;
    background: #898787;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    text-align: center;
    height: auto;
    margin-top: 140px;
}

.reset-password-container button {
    padding: 10px;
    background-color: #6c63ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 4px;
    margin-right: 9px;
}

.reset-password-container button:hover {
    background-color: #5a56d8;
}

.reset-password-container a {
    display: block;
    margin-top: 15px;
    color: #6c63ff;
    text-decoration: none;
    font-size: 14px;
}

.reset-password-container a:hover {
    text-decoration: underline;
}

.reset-password-container p {
    color: #000000;
}

@media screen and (max-width: 768px) {

    .reset-password-container {
        max-width: 370px;
        padding: 20px;
        background: #898787;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        height: auto;
        margin-top: 50px;
    }

    .reset-password-container h2 {
        font-size: 40px;
    }

    .reset-password-container button {
        padding: 10px;
        background-color: #6c63ff;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s;
        margin-top: 4px;
        margin-right: 9px;
        width: auto;
        margin-top: 10px;
    }

}